@import "../Theme";

.root {
    align-items: center;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(50px);
    overflow: hidden;
    background: $fill_controlAlt_secondary;

    div {
        width: 100%;
        height: 100%;
    }
}
