.root {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 22px;
    -webkit-app-region: drag;
    position: relative;
    background-image: -webkit-linear-gradient(top, #ededed 0, #ededed 1px, #e7e7e7 2px, #d1d1d1 100%);
}

.buttonsArea {
    display: flex;
    gap: 5px;
    height: 100%;
    align-items: center;
    padding-left: 10px;
    -webkit-app-region: no-drag;

    button {
        border-radius: 100%;
        display: flex;
        width: 15px;
        height: 15px;
        border: none;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 2px;
        border: 1px solid;
        color: transparent;

        &:nth-child(1) {
            background: rgb(255, 95, 87);
            border-color: rgb(226, 70, 63);
        }

        &:nth-child(2) {
            background: rgb(255,189, 46);
            border-color: rgb(255, 161, 44);
        }

        &:nth-child(3) {
            background: rgb(40, 201, 64);
            border-color: rgb(18, 172, 40);
        }

        &:active {
            filter: brightness(0.9);
        }
    }

    &:hover {
        button {
            color: #000;
        }
    }
}

.title {
    color: #000;
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
