@import "../Theme";

.root {
    width: 100%;
    display: flex;
    position: relative;
}

.input {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    background: $fill_control_default;
    min-height: 32px;
    border: 1px solid $elevation_strokeColor_cardStroke_defaultSolid;
    border-bottom-color: $fill_text_tertiary;

    input {
        outline: none;
        background: transparent;
        color: $fill_text_primary;
        border: none;
        width: 100%;
        height: calc(100% - 1px);
        padding: 0 10px;
    }

    &:hover {
        background: $fill_control_secondary;
    }

    &:focus-within {
        border-color: $elevation_strokeColor_controlStroke_default;
        border-bottom-color: $fill_accent_default;
        background: $fill_control_inputActive;

        input {
            box-shadow: 0 1px 0px $fill_accent_default;
        }
    }
}
