@import "../Theme";

.root {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.input {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    background: $fill_control_default;
    min-height: 32px;
    border: 1px solid $elevation_strokeColor_cardStroke_defaultSolid;
    border-bottom-color: $fill_text_tertiary;
    display: flex;
    align-items: center;
    position: relative;

    input {
        outline: none;
        background: transparent;
        color: $fill_text_primary;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    button {
        height: calc(100% - 10px);
        border: none;
        background: $fill_control_transparent;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        color: $fill_text_secondary;
        font-size: 16px;
        width: 30px;
        min-width: 30px;
        max-width: 30px;
        display: none;
        margin-right: 4px;

        & > * {
            transform: scale(0.8);
        }

        &:hover {
            background: $fill_subtle_secondary;

            &:active {
                background: $fill_subtle_tertiary;
                color: $fill_text_tertiary;
            }
        }
    }

    &:hover {
        background: $fill_control_secondary;
    }

    &:focus-within {
        border-color: $elevation_strokeColor_controlStroke_default;
        border-bottom-color: $fill_accent_default;
        background: $fill_control_inputActive;

        &:after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $fill_accent_default;
        }

        button {
            display: flex;
        }
    }
}

.inputSearch {
    &:focus-within {
        border-radius: 4px 4px 0 0;
    }
}

.dropDown {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, 100%);
    z-index: 1;
    border: 1px solid $elevation_strokeColor_cardStroke_default;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.dropDownInner {
    position: absolute;
    width: 100%;
    border-radius: 0 0 8px 8px;
    transition: ease-out 100ms;
}

.dropDownGlass {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0 0 8px 8px;
}

.dropDownGlassTint {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $fill_control_default;
}

.dropDownItemIcon {
    color: $fill_text_primary;
    overflow: hidden;
    background: $background_solidBackground_base;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.dropDownItemLabel {
    color: $fill_text_primary;

    &:nth-child(2) {
        color: $fill_text_secondary;
    }
}

.dropDownClosed {
    opacity: 0;
    pointer-events: none;
}

.dropDownInnerClosed {
    padding-top: 200px;
}

.dropDownItem {
    background: $fill_control_transparent;
    padding: 5px;
    width: calc(100% - 10px);
    border-radius: 4px;
    margin: 4px 0;
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        background: $fill_subtle_secondary;
    }
}
