:root {
    --fill_text_primary: #000;
    --fill_text_secondary: #000000;
    --fill_text_tertiary: #000000;
    --fill_text_disabled: #000000;
    --fill_accent_primary: #000000;
    --fill_accent_secondary: #000000;
    --fill_accent_tertiary: #000000;
    --fill_accent_disabled: #000000;
    --fill_textOnAccent_primary: #000000;
    --fill_textOnAccent_secondary: #000000;
    --fill_textOnAccent_disabled: #000000;
    --fill_textOnAccent_selectedText: #000000;
    --fill_control_transparent: #000000;
    --fill_control_default: #000000;
    --fill_control_secondary: #000000;
    --fill_control_tertiary: #000000;
    --fill_control_disabled: #000000;
    --fill_control_inputActive: #000000;
    --fill_controlStrong_default: #000000;
    --fill_controlStrong_disabled: #000000;
    --fill_controlAlt_primary: #000000;
    --fill_controlAlt_secondary: #000000;
    --fill_controlAlt_tertiary: #000000;
    --fill_controlAlt_quarternary: #000000;
    --fill_controlAlt_disabled: #000000;
    --fill_subtle_transparent: #000000;
    --fill_subtle_secondary: #000000;
    --fill_subtle_tertiary: #000000;
    --fill_subtle_disabled: #000000;
    --fill_subtle_selectedTextBackground: #000000;
    --fill_controlSolid_default: #000000;
    --fill_system_critical: #000000;
    --fill_system_success: #000000;
    --fill_system_attention: #000000;
    --fill_system_caution: #000000;
    --fill_system_attentionBackground: #000000;
    --fill_system_successBackground: #000000;
    --fill_system_cautionBackground: #000000;
    --fill_system_criticalBackground: #000000;
    --fill_system_neutral: #000000;
    --fill_system_neutralBackground: #000000;
    --fill_system_solidAttentionBackground: #000000;
    --fill_system_solidNeutral: #000000;
    --fill_system_solidNeutralBackground: #000000;
    --fill_controlOnImage_default: #000000;
    --fill_controlOnImage_secondary: #000000;
    --fill_controlOnImage_tertiary: #000000;
    --fill_controlOnImage_disabled: #000000;
    --elevation_control_border: #000000;
    --elevation_circle_border: #000000;
    --elevation_textControl_border: #000000;
    --elevation_textControl_borderFocused: #000000;
    --elevation_accentControl_border: #000000;
    --strokeColor_controlStroke_default: #000000;
    --strokeColor_controlStroke_onAccentDefault: #000000;
    --strokeColor_controlStroke_secondary: #000000;
    --strokeColor_controlStroke_onAccentSecondary: #000000;
    --strokeColor_controlStroke_onAccentTertiary: #000000;
    --strokeColor_controlStroke_onAccentDisabled: #000000;
    --strokeColor_controlStroke_forStrongFillWhenOnImage: #000000;
    --strokeColor_controlStrongStroke_default: #000000;
    --strokeColor_controlStrongStroke_disabled: #000000;
    --strokeColor_dividerStroke_default: #000000;
    --strokeColor_surfaceStroke_default: #000000;
    --strokeColor_surfaceStroke_flyout: #000000;
    --strokeColor_cardStroke_default: #000000;
    --strokeColor_cardStroke_defaultSolid: #000000;
    --strokeColor_focusStroke_outer: #000000;
    --strokeColor_focusStroke_inner: #000000;
    --background_cardBackground_default: #000000;
    --background_cardBackground_secondary: #000000;
    --background_smoke_default: #000000;
    --background_solidBackground_base: #000000;
    --background_solidBackground_secondary: #000000;
    --background_solidBackground_tertiary: #000000;
    --background_solidBackground_quarternary: #000000;
    --background_micaBackground_base: #000000;
    --background_acrylicBackground_default: #000000;
    --background_acrylicBackground_base: #000000;
    --background_layer_default: #000000;
    --background_layer_alt: #000000;
    --background_layerOnAcrylic_default: #000000;
    --background_layerOnAccentAcrylic_default: #000000;
}