:root {
    --fill_text_primary: #000;
    --fill_text_secondary: ;
    --fill_text_tertiary: ;
    --fill_text_disabled: ;
    --fill_accent_primary: ;
    --fill_accent_secondary: ;
    --fill_accent_tertiary: ;
    --fill_accent_disabled: ;
    --fill_textOnAccent_primary: ;
    --fill_textOnAccent_secondary: ;
    --fill_textOnAccent_disabled: ;
    --fill_textOnAccent_selectedText: ;
    --fill_control_transparent: ;
    --fill_control_default: ;
    --fill_control_secondary: ;
    --fill_control_tertiary: ;
    --fill_control_disabled: ;
    --fill_control_inputActive: ;
    --fill_controlStrong_default: ;
    --fill_controlStrong_disabled: ;
}