@import "../Theme";

.root {
    width: 100%;
    height: 100%;
}

.leftModeTitleBar {
    background: $background_solidBackground_secondary;
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: calc(48px * 3);
        height: 32px;
        -webkit-app-region: no-drag;
        pointer-events: none;
    }
}

.leftModeTitleBarTitle {
    color: $fill_text_primary;
    display: flex;
    gap: 20px;
    padding-left: 10px;
    align-items: center;

    button {
        -webkit-app-region: no-drag;
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: none;
        background: $fill_control_transparent;
        transition: 100ms;
        z-index: 1;
        color: $fill_text_primary;
        align-items: center;
        justify-content: center;
        margin-right: -20px;
        overflow: hidden;

        &:hover {
            background: $fill_subtle_secondary;

            &:active {
                background: $fill_subtle_tertiary;
            }
        }
    }
}

.leftModeTitleBarTitleButtonHide {
    margin-left: -30px;
    opacity: 0;
    pointer-events: none;
}

.leftModeTitleBarTitleIcon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
}

.leftModeTitleBarTitleText {
    font-size: 11px;
}

.leftModeContentArea {
    display: flex;
    height: calc(100% - 50px);
    overflow: hidden;
    background: $background_solidBackground_secondary;
}

.contentInner {
    width: 100%;
    background: $background_layer_default;
    overflow-y: auto;
    border-radius: 8px 0 0 0;
    outline: 1px solid $elevation_strokeColor_cardStroke_default;
    margin: 1px 0 0 1px;
}

.topModeContentArea {

}

.leftModeSideBar {
    min-width: 300px;
    transition: 100ms;
    overflow: auto;
}

.leftModeSideBarClosed {
    min-width: 48px;
    overflow-x: hidden;
}
